@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply mx-auto max-w-sm  md:max-w-[768px] lg:max-w-[1024px] 2xl:max-w-[1536px] sm:px-16 px-6;
}

.section {
	@apply sm:mt-20 mt-8;
}

.shadows {
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
		inset 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.cartButtons {
	@apply text-[#FFB800] text-sm bg-[#222222] px-2 py-1 rounded-md;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}
